.butt{
    border-radius: 27px;
    border-color: orange;
    
    background-color: orange;
}



.but1{
    border-radius: 27px;
    border-color: red;
    
    background-color: red;
}
.center-image {
    width: 100%;
    height: 100%;
  }

#navbar{
position: sticky;
top: 0;
left: 0;
z-index: 100;

}
.on{
padding-left: 250px;
}
.tw{
    padding-right: 250px;
}

.one{

}
.two{
    background-color: rgb(225, 208, 78);
}

/* section{ 

    width:100%;
    min-height:  100vh;
    display:flex;
    justify-content:center;
    align-items:center;
} */
.divp1{
    float: left;
    width: 70%;
    height: 600px;
}
.divp2{
    float: right;
    width: 30%;
    height: 600px;
    padding: 20px;
}
.imgpi{
    width:100%;
    height: 100%;
    padding: 20px;
    padding-left: 250px;
}

#n1{
float: left;


}
#n2{
    float: right;
    padding-right: 200px;
    
    }

